.align-left
  text-align: left

.align-center
  text-align: center
  
.align-right
  text-align: right
  
.list-unstyled
  list-style: none
  
.list-inline
  list-style: none
  li, div, p, span
    display: inline-block
    vertical-align: top